.cart-icon {
    height: 25px;
    width: 26px;
    position: relative;
    top: -2px;
    left: -3px;
    margin-right: 8px;
}

.cart-button {
    height: 38px;
    width: 85px;
    display: flex;
}


.navbar-link {
    text-decoration: none;
    margin-left: 1rem;
}

.nav-form{
    display: flex;
    justify-content: center;
    align-items: center;
}