@media (max-width: 450px) {
    .img-col{
        display: none;
    }
    .cart-container td{
        font-size: 0.75rem;
    }
    .cart-container th{
        font-size: 0.75rem;
    }
}

@media (max-width: 1000px){
    .transaction-split{
        flex-direction: column;
    }
}

td{
    vertical-align: middle;
}

.cart-product-link{
    text-decoration: none;
    color: black;
}

.cart-product-image{
    width: 10vw;
}

.total-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}
h4{
    margin: 0 1rem!important;
    object-fit: contain;
}

.loading-spinner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.transaction-split{
    display: flex;
    column-gap: 2rem;
}


