.product-detail-container {
    padding: 16px 5vw;
    display: flex;
    justify-content: center;
}

.product-detail-card-img-container {
    padding: 3vw;
    display: flex;
    justify-content: center;
}

.product-detail-split {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0;
}
.product-detail-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
}
.product-detail-card-body{
    max-width: 70rem;
    padding: 2rem;
}
.cart-alert{
    height: 3rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 5vw;
}
p{
    margin-top: 1rem!important;
}
.product-detail-img{
    object-fit: contain;
    min-width: 20rem;
}