.login-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-button{
    margin-top: 1rem;
    width: 100%;
}
.login-card-body{
    width: 80vw;
    max-width: 400px;
}
.login-form-body{
    padding: 1.5rem;
}
.login-form-group{
    margin: 1rem 0;
}
.invalid-alert{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: .75rem;
}
