*{
    box-sizing: border-box;
}
.product-listing-card {

    margin: 16px;
    width: 240px;
}
.product-listing-card:hover {
 border: 1px solid ;
}

.product-listing-card-img {
    padding: 16px;
    width: 100%;
}

#product-listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-listing-card-img-spinner-container {
    height: 200px;
    margin: 16px;
    background-color: lightgray;
    padding: 85px;
}

.product-listing-card-button {
    width: 100%;
}

.product-listing-card-button-link {
    margin-top: auto;
    text-decoration: none;
    color: black;
}

.product-listing-card-body {
    display: flex;
    flex-direction: column;
}
#sorting-container{
    display: flex;
    justify-content: flex-end;
    margin: 16px 30px 0 30px;
}

#sorting-form{
    width: 200px;
}