.selector-container {
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.selector-number {
    display: flex;
    font-size: 16px;
    border: 1px solid;
    width: 40px;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

dl{
    display: flex;
    font-size: 16px;
}
